nav{
/*	position: -webkit-sticky;
	position: sticky;*/
	background-color: red;

}

body{
	margin: 0;
}

.home_link{
	/*position: absolute;*/
}

.home_link h1, img{
	display: inline;
	vertical-align: middle;
}

#sign_in
{
	position: absolute;
	left:30%;
	top:30%;

}
#sign_up
{
	position: absolute;
	right:30%;
	top:33%;
}

#order_now
{
	position:absolute;
	left:46%;
	top:50%;
}